.progressive {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.progressive img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0 none;
    overflow: hidden;
}

.progressive img.preview {
    filter: blur(5px) brightness(90%) drop-shadow(0 0 5px tranparent);
    transform: scale(1.05);
}

.progressive img.hide {
    opacity: 0;
}

.progressive img.origin {
    position: absolute;
    left: 0;
    top: 0;
    animation: origin 1.5s ease-out;
}

.progressive img.origin-scale {
    position: absolute;
    left: 0;
    top: 0;
    animation: origin-scale 1s ease-out;
}

@-moz-keyframes origin {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes origin {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes origin {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes origin {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes origin-scale {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes origin-scale {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-o-keyframes origin-scale {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes origin-scale {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}